@import '../../lib/colors';

.product-wrapper {
  width: 100%;
}

.products {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;

  .product {
    margin: 20px;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 10px;

    &:hover {
      opacity: 0.6;
      background: $color-mist;
    }
  }
}
